/* -- general styling -- */
body {
  margin-bottom: 150px;

  font-family: Arial, Helvetica, sans-serif;

  background-color: #ededed;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* -- styling for nav -- */
.navbar-custom {
  background-color: #fff;
}

#logo {
  height: 60px;
  padding-top: 20px;
  padding-bottom: 5px;

  margin-left: 70px;
  font-family: Georgia, Times, "Times New Roman", serif;

  font-size: 24px;
  font-weight: bold;
  color: #111;
}

#logo:hover {
  opacity: 0.7;
}

.navbar-right-custom {
  padding-top: 6px;
  padding-right: 20px;

  font-family: Arial;
  font-weight: lighter;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #8b1ac0;
}

@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #8b1ac0;
  }

  #logo {
    width: 100%;

    height: 60px;
    padding-top: 20px;
    padding-bottom: 5px;

    margin-left: 0;
    font-family: Georgia, Times, "Times New Roman", serif;

    font-size: 24px;
    font-weight: bold;
    color: #111;
  }
}


/* -- styling for descriptions -- */
.description-header {
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;

  font-size: 32px;
  font-weight: bold;
  color: #8b1ac0;
}

.description-content {
  padding: 30px;

  margin-top: 32px;

  background-color: #fff;
}

.description-content > p {
  padding-top: 20px;

  font-size: 16px;
  line-height: 30px;
  color: slategray;
}

.description-text {
  padding-bottom: 20px;
}

.img-fluid {
  float: left;
  padding-top: 50px;
  max-width: 100%;
  height: auto;
}

.img-logo {
  max-width: 100%;
  height: 100;
}

@media only screen and (max-width: 767px) {
  .description-content {
    padding: 0;
    margin-top: 0;
  }
}


/* -- other page styling -- */
.comparison-image:hover {
  opacity: 0.6;
}

.comparison-header {
  margin-bottom: 10px;
  font-family: Georgia, Times, "Times New Roman", serif;

  font-size: 20px;
  font-weight: bold;
  color: #8b1ac0;
  text-align: center;
}


/* -- styling for footer -- */
.footer {
  bottom: 0;
  width: 100%;
  height: 120px;
  margin-top: 30px;
  background-color: #666;
}

.text-muted-footer {
  margin-top: 15px;
  color: #fff;
}

.two-toned-footer-color {
  height: 6px;
  padding-top: 3px;
  background-color: #8b1ac0;
}


/* styling for tables */
table, th, td {
  border-style:solid;
  border-color: #000000;
  table-layout:auto;
}

td {
  text-align: center;
} 

tr:hover {
  background-color: #D6EEEE;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}


/* Search Bar Styling */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container{
  width: 100%;
  min-height: 30vh;
  padding: 5%;
  background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(../images/background1.png);
  background-position: center;
  background-size: center;
  display:flex;
  align-items: center;
  justify-content: center;
}

.search-bar{
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #cac7ff;
}

::placeholder{
  color: #cac7ff;
}

.search-bar button{ 
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #586295;
  cursor: pointer;
}