/* -- general styling -- */
body {
  /* Positioning */
  margin-bottom: 150px;

  /* Typography */
  font-family: Arial, Helvetica, sans-serif;

  /* Visual */
  background-color: #ededed;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* -- styling for nav -- */
.navbar-custom {
  background-color: #fff;
}

#logo {
  /* Box-model */
  height: 60px;
  padding-top: 20px;
  padding-bottom: 5px;

  /* Positioning */
  margin-left: 70px;
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 24px;
  font-weight: bold;
  color: #111;

  /*background:*/
}

/* Logo hover state */
#logo:hover {
  /* Visual */
  opacity: 0.7;
}

.navbar-right-custom {
  /* Box-model */
  padding-top: 6px;
  padding-right: 20px;

  /* Typography */
  font-family: Arial;
  font-weight: lighter;
}

/* Nav element hover state */
.navbar-default .navbar-nav > li > a:hover {
  color: #8b1ac0;
}

/* Media query for nav */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #8b1ac0;
  }

  #logo {
    width: 100%;

    /* Box-model */
    height: 60px;
    padding-top: 20px;
    padding-bottom: 5px;

    /* Positioning */
    margin-left: 0;
    font-family: Georgia, Times, "Times New Roman", serif;

    /* Typography */
    font-size: 24px;
    font-weight: bold;
    color: #111;
  }
}

/* -- styling for descriptions -- */
.description-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 32px;
  font-weight: bold;
  color: #8b1ac0;
}

.description-content {
  /* Box-model */
  padding: 30px;

  /* Positioning */
  margin-top: 32px;

  /* Visual */
  background-color: #fff;
}

.description-content > p {
  /* Box-model */
  padding-top: 20px;

  /* Typography */
  font-size: 16px;
  line-height: 30px;
  color: slategray;
}

.description-text {
  padding-bottom: 20px;
}



.img-fluid {
  float: left;
  padding-top: 50px;
  max-width: 100%;
  height: auto;
}

/* Description content media query */
@media only screen and (max-width: 767px) {
  /* override default class styling for positioning/padding */

  .description-content {
    /* Box-model */
    padding: 0;

    /* Positioning */
    margin-top: 0;
  }
}

#images {
  /* Box-model */
  padding-top: 15px;

  /* Typography */
  text-align: center;
}

/* -- other page styling -- */
.comparison-image:hover {
  opacity: 0.6;
}

.comparison-header {
  /* Positioning */
  margin-bottom: 10px;
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 20px;
  font-weight: bold;
  color: #8b1ac0;
  text-align: center;
}

/* -- styling for footer -- */
.footer {
  /* Positioning */
  bottom: 0;

  /* Box-model */
  width: 100%;
  height: 100px;
  margin-top: 30px;

  /* Visual */
  background-color: #666;
}

.text-muted-footer {
  /* Positioning */
  margin-top: 15px;

  /* Typography */
  color: #fff;
}

.two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;

  /* Visual */
  background-color: #8b1ac0;
}

table, th, td {
  border-style:solid;
  border-color: #000000;
  table-layout:fixed
}

td{text-align: center;} 
tr:hover {background-color: #D6EEEE;}